.header_container {
  background-color: #f9f9f9;
  padding: 20px 30px;
}
.header_item {
  display: flex;
  justify-content: space-evenly;
}
.header_list {
  display: flex;
  gap: 15px;
}
.header_container a {
  text-decoration: none;
  color: #000;
}
.header_container a:hover {
  color: #fe6613;
  cursor: pointer;
}
.header_container span {
  text-decoration: none;
  color: #fe6613;
}
.header_container span:hover {
  color: #000;
}
.header_item small {
  font-size: 23px;
  font-weight: 500;
}

.header_list p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 7px;
  transition: all 0.2s;
}
.header_list p:hover {
  color: #fe6613;
  cursor: pointer;
}
.header_list button {
  padding: 7px 20px;
  color: #fff;
  background: blue;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.header_list button:hover {
  background: #fe6613;
  cursor: pointer;
}
@media (max-width: 540px) {
  .header_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_list{
    margin-top: 10px;
  }
}
